.container{
    width: 300px;
    background-color: gainsboro;
    padding: 20px;
    min-height: 190px;
}
.screen{
    margin-bottom: 20px;
}
.input{
    display: flex;
    flex-wrap: wrap;
}
.operation{
    width: 20px;
    margin-left: 8px;
}
input{
    margin-top: 2px;
}
.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    float: left;
}
.numbers button{
    width: 30%;
    margin-bottom: 5px;
}
.operations{
    float: right;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.operations button{
    width: 45%;
    margin-bottom: 5px;
}